@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}

html, body { scroll-behavior: smooth; }

.alt-char {
    font-feature-settings: "ss01" !important;
}

.alt-char2 {
    font-feature-settings: "ss02" !important;
}

abbr {
    text-decoration: none;
    cursor: progress;
}